
html{
	background-color: #000019;

}

body {
	background-color: #000019;
}

h1 {
	letter-spacing: 20px;
	font-family: Bungee;
	font-size: 5em;
	color: #DEEFF5;

}

h3 {
	font-family: Bungee;
	font-size: 2.5em;
	color: #DEEFF5;
}

h5 {
	font-family: Bungee;
	font-size: 1em;
	color: #DEEFF5;
}




.modal{
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	width: 100%;
	height: 100%;
	background-color: blue;
	 
}

#playerEnergyPoints{

	margin-top: 200px;

}

img{
	cursor: pointer;
	margin: 30px;
}

/*#energyPoints{font-family: 'Bungee'}
*/

